
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 36px;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */
}

/* .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.square {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  display: grid;
  place-content: center;
  box-shadow: 2px 2px 5px #000;
  border-radius: 0.25rem;
}

.square p {
  text-align: center;
  align-items: center;
}

form {
  width: 400px;
}

label {
  position: absolute;
  left: -300px;
}

input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #000;
  outline: none;
  border-radius: 0.25rem;
}

button {
  width: 100%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem;
  box-shadow: 2px 2px 5px #000;
  border-radius: 0.25rem;
}
